body{
    background-image: url(back1_copie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
color: red;
position: absolute;
left: 450px;
right: 200px;
padding-left: 20%;


}
img.hassan {
    width:  400px;
    height:  500px;

}                             

ul.A{
    font-family: 'Montserrat', sans-serif;

    color: rgb(0, 0, 0);
    line-height: 50px;
font-size: 30px;
list-style: none;
position: absolute;
left: 410px;
right: 200px;
top: 110px;
}

img.maroc {

    width: 80px;
    height: 60px;
    left: 450px;
    position: absolute;

    top: 80px;
}
p {
font-size: 30px;
padding-left: 3%;
font-family: 'Fira Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 50px;
    color: green;
}

.C {
    float: right;
    width: 50%;
    
}